<div class="formcontainer">
    <div class="formbody">
        <form style="width:100%;" [formGroup]="editForm">
            <div class="header">Edit </div>
            <div>
                <mat-form-field style="width:100%;">
                    <input type="text" formControlName="firstname" matInput placeholder="Firstname" >
                </mat-form-field>
                 <span *ngIf="isValid('firstname')">Firstname cannot be blank</span>
            </div>
            <div>
                <mat-form-field style="width:100%;">
                    <input type="text" formControlName="lastname" matInput placeholder="Lastname">
                </mat-form-field>
                <span *ngIf="isValid('lastname')">Lastname cannot be blank</span>
            </div>
            <div style="margin-top:40px;">
                <button class="form-btn" (click)="edit()">Update</button>
            </div>

            
            <div style="text-align: center;">                
               <strong style="color: rgb(201, 36, 36);">{{successMessage}}</strong>
            </div>
        </form>
    </div>

    <div>
        <div style="width: 290px; padding: 20px;">
            <button class="form-btn-hollow" (click)="movetodash()">Back</button>
        </div>
    </div>
</div>