<div class="container">
  <div class="headerbar">
    <span>Auth-Redux</span>
  </div>
  <div class="boom">
    <h1>{{firstname}} {{lastname}}</h1> <h3>You have successfully logged in using JWT.</h3>


    <button mat-raised-button color="primary" style="margin-right: 10px;" (click)="movetoedit()">Edit</button>
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
  </div>
</div>
