.container{
    width: 100vw;
    min-height: 100vh;
    background-image: url('../../assets/images/back1.jpg');
    background-size: cover;
}

.header{
    display: flex;
}
.headerLogo{
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    margin: 20px;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
